.button {
  display: inline-block;
  padding: 0 30px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 20px;
}

.button--blue {
  background-color: #1C6EF2;
  color: #FFFFFF;
}

.button--blue:hover {
    background-color: #70A7FF;
}
