.mobile-toggle {
  display: flex;
  display: none;
  cursor: pointer;
  width: 34px;
  height: 25px;
  flex-direction: column;
  background: none;
  border: none;
  padding: 0;
  justify-content: space-around;
  float: right;
}

.mobile-toggle__line {
  display: block;
  height: 3px;
  background-color: #323232;
  border-radius: 1px;
  width: 34px;
}

.mobile-toggle:hover .mobile-toggle__line {
  background-color: #071D49;
}

.mobile-toggle--close {

  .mobile-toggle__line:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .mobile-toggle__line:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .mobile-toggle__line:nth-child(3) {
    display: none;
  }


}
